<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is just a temple</h1>
    {% for item in item_list_pass2template %}
    <!--item_list_pass2template is from MyFirstProject\food\views.py-->
    <!--  for loop -->
    <!-- remeber to keep a space after %-->
        <ul>
            <li>
                {{item.id}} -- {{item.item_name}}
                <!--item table--> 
            </li>
        </ul>
    {% endfor %}
    <!-- end of for loop-->

    
</body>
</html>

