<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>item views wiht details link</h1>
    {% for item in item_list_frm_views_pass2template %}
    <!--item_list_pass2template is from MyFirstProject\food\views.py-->
    <!--  for loop -->
    <!-- remeber to keep a space after %-->
        <ul>
            <li>
                <a href="/item/{{item.id }}"> {{item.id }} -- {{ item.item_name }}</a>
                <!--get id from item table --> 
                <!--get item_name from item table-->
            </li>
        </ul>
    {% endfor %}
    <!-- end of for loop-->

    
</body>
</html>

